@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1200px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Pages */

/* header */
.page-header {
  width: 1160px;
  min-height: 186px;
  margin: 0 auto;
  padding: 0;
  margin-top: 40px;
  padding-bottom: 135px;
  background-color: #ffe17f;
}
.header-container {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
  background-size: 0 auto;
  padding: 0;
}
.navigation-logo {
  width: 145px;
  margin-top: -20px;
  padding: 0;
  cursor: pointer;
}
.navigation-logo:hover {
  opacity: 0.6;
}

.navigation-logo:active {
  opacity: 0.3;
  outline: 3px solid #af4fff;
}
.navigation-logo:focus {
  border: 2px solid #af4fff;
}












.navigation-search-container {
  display: flex;
  margin-top: 30px;
  width: 1040px;
  padding: 0;
}
.menu-list-container {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
.navigation-container {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

/* "шапка сайта"   */
.menu-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 471px;
  padding: 0;
  margin: 0;
  margin-left: 27px;
  flex-basis: 100%;
  list-style: none;
}
.menu-item {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.enter {
  flex-grow: 1;
}
.comparison {
  margin-right: 1px;
}

/* Строка поиска */

.search-site {
  display: flex;
  align-items: flex-start;
  width: 517px;
  margin: 0;
  padding: 0;
}
.navigation {
  display: flex;
  width: 1040px;
  margin-top: 30px;
  color: #000000;
}
.header-catalog-container {
  position: relative;


}
.navigation-catalog {
  width: 295px;
  padding: 15px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 0.2em;
  line-height: 21px;
  font-style: normal;
  color: #000000;
  z-index: 1;
  padding-right: 62px;
  text-transform: uppercase;
  min-width: 293px;
  position: relative;
}
.navigation-catalog:hover {
  opacity: 0.6;
}
.navigation-catalog-container:focus-within > .popover-catalog {
  display: flex;
}
.navigation-catalog:hover::after {
  opacity: 1;
}

.navigation-catalog:active::after,
.navigation-catalog:focus::after {
  background-image: url("../images/icons/icon-minus.svg");
  background-repeat: no-repeat;
}

.navigation-catalog:focus {
  outline: 3px solid #af4fff;
}

.navigation-catalog:focus + .popover-catalog,
.navigation-catalog:active + .popover-catalog {
  display: flex;
}
.navigation-catalog:active {
  opacity: 0.3;
  outline: 3px solid #af4fff;
}
.navigation-catalog:focus {
  border: 2px solid #af4fff;
}
.navigation-catalog::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 51px;
  background-image: url("../images/icons/icon-plus.svg");
  background-repeat: no-repeat;

}
.popover-catalog {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 1160px;
  left: -60px;
  top: 64px;
  min-height: 145px;
  padding: 0 60px 33px;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #ffe17f;
  z-index: 2;
}
.popover-catalog-close {
  display: none;
}
.catalog-sublist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-sublist:first-child {
  margin-right: 50px;
}

.catalog-sublist:nth-child(2) {
  margin-right: 15px;
}
.catalog-item {
  width: 200px;
  margin-bottom: 18px;
}
.catalog-link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.catalog-link:hover {
  opacity: 0.6;
}

.catalog-link:active {
  opacity: 0.3;
}

.catalog-link:focus {
  outline: 2px solid #af4fff;
}

.catalog-link-current {
  border-bottom: 2px solid #000000;
}











.navigation-search-site {
  width: 359px;
  margin-right: auto;
  padding: 0;
}
.navigation-search {
  width: 359px;
  height: 40px;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  background-color: #ffe17f;
  border-color: #000000;
  border-radius: 50px 0 0 50px;
  margin: 0;
  padding-left: 46px;
  background-image: url(../images/icons/icon-searc.svg);
  background-repeat: no-repeat;
  background-position: 16px;
}

/* Кнопка поиска */

.navigation-search-button {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  background-color: #ffe17f;
  width: 160px;
  height: 40px;
  border-radius: 0 50px 50px 0;
  margin: 0;
  cursor: pointer;
}

.menu-link {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  position: relative;
}
.menu-link:hover {
  opacity: 0.6;
}

.menu-link:active {
  opacity: 0.3;
  outline: 3px solid #af4fff;
}
.menu-link:focus {
  border: 2px solid #af4fff;
}




/* Каталог товаров */
/* .navigation-container {
  /* display: flex;
  flex-direction: row;
  justify-self: flex-start;
  width: 1040px;
  margin: 0;
  padding: 0 0 0 60px;

} */

/* навигация сайта */
.navigation-device-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 471px;
  margin: 0;
  margin-left: 276px;
  padding: 0;
  list-style: none;
}
.navigation-device-item {
  display: block;
  margin: 0;
  padding: 0;
}
.navigation-device-link {
  display: block;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 0.2em;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 21px;
  color: #000000;
  padding: 0;
}

.navigation-device-link:hover {
  opacity: 0.6;
}

.navigation-device-link:active {
  opacity: 0.3;
  outline: 3px solid #af4fff;
}
.navigation-device-link:focus {
  border: 2px solid #af4fff;
}
.main-index {
  flex-grow: 1;
  /* width: 1440px; */
  /* margin: 0 auto; */
}
/* слайдер */
.slider {
  display: block;

}
.slider-container {
  width: 1160px;
  margin: 0 auto;
  position: relative;

}

.slider-image {
  display: block;
  margin-top: -150px;
}
.slider-item {
  display: flex;
  justify-content: space-between;
  top: -118px;
}
.slider-arrows {
  margin: 0;
  padding: 0;
}
.slider-arrow {
  list-style: none;

}
.slider-wrapper {
  position: relative;
  width: 560px;
  margin-bottom: 108px;
}
.slider-number {
  display: block;
  font-family: "Rubik", "Arial", sans-serif;
  max-width: 250px;
  margin: 0;
  margin-top: -105px;
  margin-right: 49px;
  margin-left: auto;
  font-size: 180px;
  line-height: 100px;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
  background-color: #ffe17f;
}
.slider-prev {
  top: 61px;
  left: 30px;
}
.slider-button {
  position: absolute;
}
.slider-next {
  top: 61px;
  left: 540px;
  transform: rotate(180deg);
}
.slider-prev, .slider-next {
  width: 20px;
  height: 60px;
  background-image: url(../images/icons/slider-prev.svg);
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.slider-prev:hover, .slider-next:hover {
  opacity: 0.6;
}

.slider-prev:active, .slider-next:active {
  opacity: 0.3;
}

.slider-prev:focus, .slider-next:focus {
  border: 2px solid #AF4FFF;
}

.slider-title {
  margin-top: -25px;
  margin-bottom: 29px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.slider-description {
  font-family: "Rubik", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
  margin-bottom: 51px;
}
.slider-link {
  display: inline-block;
  margin-bottom: 47px;
  padding: 10px 38px;
  background: linear-gradient(rgba(255, 255, 255, 0) 40%, #ffe16f 40%, #ffe16f 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  cursor: pointer;
  text-decoration: none;
  background-position: center;
  background-size: 100% 100%;
  transition: background-size 0.2s ease;
  color: #000000;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
}
.slider-link:hover {
  background-size: 100% 500%;
}

.slider-link:active {
  background: #ffcc33;
}

.slider-link:focus {
  outline: 2px solid #af4fff;
  width: 100%;
  text-align: left;
}
.slider-features {
  display: flex;
  margin: 0;
  color: #000000;
}
.slider-features-wrapper:not(:last-of-type) {
  margin-right: 20px;
}

.slider-features-wrapper:not(:last-of-type) {
  margin-right: 20px;
}
.features-term {
  font-family: "Rubik", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}
.slider-features-wrapper {
  display: flex;
  flex-direction: column;
}
.features-descriptor {
  margin: 0;
  margin-bottom: 12px;
  order: -1;
  font-size: 36px;
}
.slider-features-wrapper {
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none;
}
.slider-paginator-list {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 225px;
  right: 0;
  width: 76px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.slider-paginator-item {
  list-style-type: none;
}

.slider-pagination-button {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px #000000 solid;
  background-color: rgba(255, 255, 255, 0);
}
.slider-paginator-button-current {
  background-color: #000000;
}








.features-descriptor {
  font-family: "Rubik", "Arial", sans-serif;
    line-height: 30px;
    font-weight: 400;
  margin: 0;
  margin-bottom: 12px;
  order: -1;
  font-size: 36px;
}


/* Каталог */
.catalog-container {
  margin: 0 auto;
  width: 1160px;
}
.catalog-devices {
  margin: 0;
  padding: 0;
}


.catalog-devices-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  min-height: 253px;
  margin: 0;
  padding: 0;
}
.catalog-devices-item {
  list-style: none;
  display: flex;
  min-width: 160px;
  margin-right: 40px;
}
.catalog-devices-item:nth-child(6n) {
  margin-right: 0;
}

.catalog-devices-item-link {
  text-decoration: none;
  display: block;
  font-weight: 800;
  color: #000000;
  line-height: 18px;
  width: 160px;
  height: 60;
}
.catalog-devices-item-link:hover .background-svg-catalog {
  background-color: #ffc700;
}

.catalog-devices-item-link:active {
  opacity: 0.3;
}

.catalog-devices-item-link:focus {
  outline: 2px solid #af4fff;
}
.catalog-logo-1 {
  margin: 54px 32px;

}
.catalog-logo-2 {
  margin: 43px 37px;

}
.catalog-logo-3 {
  margin: 37px 44px;
}
.catalog-logo-4 {
  margin: 47px 26px;
}
.catalog-logo-5 {
  margin: 32px 52px;
}
.catalog-logo-6 {
  margin: 46px 14px;
}
.background-svg-catalog {
  height: 160px;
  width: 160px;
  background-color: #FFE17F;
  margin-bottom: 33px;


}
/* Услуги магазина */
.services-background-color {
  min-height: 391px;
  background: linear-gradient(
    to bottom,
    #ffffff 102px,
    #f0f0f0 102px,
    #f0f0f0 100%
  );
  margin-bottom: 70px;
}
.services-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-top: 70px;
}

.services {
  display: flex;
  justify-content: start;
  padding: 0;
}
.description-delivery {
  background-image: url(../images/icons/icon-delivery-images.svg);
  background-repeat: no-repeat;
  background-position: 100% 5px;
}
.description-warranty {
  background-image: url(../images/icons/icon-warranty-images.svg);
  background-repeat: no-repeat;
  background-position: 100% 5px;


}
.description-credit {
  background-image: url(../images/icons/icon-credit-images.svg);
  background-repeat: no-repeat;
  background-position: 100% 5px;

}


.services-list {
  display: flex;
  position: relative;
  min-width: 287px;
  min-height: 319px;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 29px;
}
.services-list-item {
  list-style: none;
  display: flex;
  margin-top: 35px;

}
.services-list-item-current {
background-color: #000000;
}

.services-list-item-current .button-services-list {
  background: none;
  background-color: #000000;
  color: #ffe17f;
}

.services-list-item-current:hover .button-services-list {
  color: rgba(255, 225, 127, 0.5);
}

.services-list-item-current:active .button-services-list {
  color: rgba(255, 225, 127, 0.3);
}

.services-list-item-current .button-services-list {
  background: none;
  background-color: #000000;
  color: #ffe17f;
}
/* Кнопки */
.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 0.2em;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 21px;
  color: #000000;
  border: none;
  padding: 10px 19px;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, #ffe16f 40%, #ffe16f 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  background-position: center;
  background-size: 100% 100%;
  transition: background-size 0.2s ease;
}

.button:hover {
  background-size: 100% 500%;
}

.button:active {
  background: #ffcc33;
}

.button:focus {
  outline: 2px solid #af4fff;
  width: 100%;
  text-align: left;
}
/* Услуги */
.button-services-list {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 0.2em;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 21px;
  color: #000000;
  border: none;
  padding: 10px 19px;
  cursor: pointer;
  width: 160px;
  display: block;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, #ffe16f 40%, #ffe16f 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  background-position: center;
  background-size: 100% 100%;
  transition: background-size 0.2s ease;

}
.button-services-list:hover {
  background-size: 100% 500%;
}

.button-services-list:active {
  background: #ffcc33;
}

.button-services-list:focus {
  outline: 2px solid #af4fff;
  width: 100%;
  text-align: left;
}
.services-description-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  min-width: 695px;
  min-height: 250px;
}
/* Услуги доставка */

.services-list::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 319px;
  top: -29px;
  right: 0;
  background-color: #000000;
}
.services-description-list {
  display: flex;
  padding: 0;
  margin: 72px auto auto 116px;

}
.services-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;

}
/* Услуги гарантия */
.warranty-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 50px;
  line-height: 50px;
  color: #000000;

}
/* Услуги кредит */
.credit-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 50px;
  line-height: 50px;
  color: #000000;

}

.services-description-item p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  margin: 0;
  padding: 34px 0 0 0;
  width: 452px;
  height: 90px;
}

/* редкий товар под заказ */
.index-delivery-container {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}
.delivery-container {
  position: relative;
  background-color: #f0f0f0;

}
.index-delivery-link{
  background: #f0f0f0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
  position: relative;
  letter-spacing: 0.2em;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;


}
.delivery-descriptor {
  display: block;
    padding: 38px 125px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.2em;
    text-align: center;
    background-color: #f0f0f0;
    color: #000000;

}
.index-delivery-link::before {
   content: "";
position: absolute;
top: 0;
left: 0;
width: 125px;
height: 100%;
background-color: #ffe17f;
background-image: url(../images/icons/car.svg);
background-repeat: no-repeat;
background-position: 50% 50%;
}
.index-delivery-link:active {
  opacity: 0.3;
}

.index-delivery-link:hover::before {
  background-color: #ffc700;
}

.index-delivery-link:hover .delivery-tooltip {
  opacity: 1;
}

.index-delivery-link:focus {
  outline: 2px solid #af4fff;
}
.delivery-icons-information {
  position: absolute;
  top: 30px;
  right: 62px;
  opacity: 0.5;

}
.delivery-icons-information::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  left: 5px;
  top: 30px;
  background: rgba(15, 14, 14, 0.5);

}


/* О нас контейнер*/
.information-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 545px;
  margin: 0 auto;
  margin-bottom: 70px;
}
.about-us-container {
  width: 520px;
}

/* о нас */
.about-us-title {
  font-weight: 800;
  line-height: 50px;
  font-size: 50px;
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}
/* Описание о нас */
.about-us-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
/* Ссылки ТК */
.about-us {
  position: relative;
  padding-top: 47px;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
}
.about-us-list {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.about-us-item {
  position: relative;
  list-style: none;
  padding-left: 36px;
  min-height: 20px;
  padding-bottom: 19px;
}
.about-us-item:last-child {
  padding-bottom: 0;
}
.about-us-link {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-weight: 700;
  line-height: 20px;
  font-size: 18px;
  color: #000000;
}
.about-us-link::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 6px;
  left: 0;
  background-color: #ffc700;
  border-radius: 50%;
}

/* Кнопка Подробнее о нас */
.button-link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 0.2em;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 21px;
  color: #000000;
  border: none;
  cursor: pointer;
  padding: 10px 23px;
  text-align: center;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, #ffe16f 40%, #ffe16f 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  background-position: center;
  background-size: 100% 100%;
  transition: background-size 0.2s ease;
  /* width: 200px; */
}
.button-link:hover {
  background-size: 100% 500%;
}

.button-link:active {
  background: #ffcc33;
}

.button-link:focus {
  outline: 2px solid #af4fff;
}
/* Контакты */
.contacts-container {
  width: 532px;
}
.contacts {
  padding-top: 47px;
  position: relative;
}
.contacts-title {
  font-weight: 800;
  line-height: 50px;
  font-size: 50px;
  margin: 0;
  margin-bottom: 48px;
}
.contacts-address {
  font-style: normal;
  margin-top: 15px;
  margin-bottom: 30px;
}
/* описанние контактов */
.contacts-subtitle {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}

.contacts-title-site {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 30px;
  font-size: 24px;
  color: #444444;
  margin: 0;
}
.contacts-address-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  color: #444444;
  margin: 0;
}
/* Ссылка-телефон */
.contacts-phone {
  font-family: "Rubik", sans-serif;
  text-decoration: underline;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  color: #444444;

  /* Время работы */
}
.contacts-subtitle-text {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 30px;
  font-size: 24px;
  color: #444444;
}

.contacts-subtitle-time {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  color: #444444;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 40px;
}

/* Подпишитесь на рассылку */
.mailing-container {
  background: #f0f0f0;
  min-height: 421px;
  margin: 0 auto;
}
.mailing {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-top: 64px;
  background: #f0f0f0;
}
.mailing-title {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-weight: 800;
  color: #000000;
  line-height: 50px;
  font-size: 50px;
  margin: 0;
}

.mailing-container {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}
/* Подпишитесь на рассылку, текст */
.mailing p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  margin: 10px auto auto 252px;
  width: 560px;
  height: 90px;
}
/* ввод почты */
.mailing-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  margin-top: 146px;
}

.mailing-form {
  display: flex;
  width: 1160px;

}

.field {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #444444;
  font-style: normal;
  border: none;
  background-color: #f0f0f0;
  width: 557px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  border-bottom: 3px solid #c4c4c4;
}
.field::placeholder {
  display: block;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.5;
}

.fieldl:hover {
  color: rgba(0, 0, 0, 0.6);
}

.field:active {
  color: rgba(0, 0, 0, 0.3);
}

.field:focus {
  background-color: #dcdcdc;
  outline: none;
}

.field:invalid {
  border-bottom-color: #ff3d3d;
}

.field:disabled {
  opacity: 0.3;
}
/* Кнопка  */
.button-mailing {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
  width: 253px;
  margin: 0;
  padding: 15px 37px;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border: 3px solid #c4c4c4;
}
.button-mailing:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}

.button-mailing:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-mailing:focus {
  outline: none;
}

.button-mailing:focus::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}
/* это бесплатно */
.mailing-email-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  display: inline;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin-left: 174px;
  padding-left: 32px;
  background-image: url(../images/icons/icon-index-green-check-mark.svg);
  background-repeat: no-repeat;
  background-position: 1px 7px;
}

/* footer */
.page-footer {
  background-color: #444444;
}
.footer-container {
  min-height: 321px;
  margin: 0 auto;
}

.page-footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}
.footer-contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-top: 62px;
}
.footer-contacts::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.footer-link {
  display: inline-block;
  color: #ffc700;
  cursor: pointer;
}
.footer-link:hover {
  opacity: 0.6;
}

.footer-link:active {
  opacity: 0.3;
}

.footer-link:focus {
  outline: 2px solid #af4fff;
}


.footer-contacts-address {
  margin-top: 35px;
}
.footer-contacts-address-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  color: #ffffff;
  font-style: normal;
  margin: 0;
  padding: 0;
  width: 240px;
}

.footer-navigation-social {
  display: flex;
  flex-direction: column;
  width: 444px;
  margin-top: 137px;
  margin-left: 124px;

}
.footer-navigation {
  display: flex;

  padding: 0;
}

.footer-navigation-divice-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  min-width: 444px;
}
.footer-navigation-divice-link {
  text-decoration: none;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: 0.2em;
}
.footer-navigation-divice-link:hover {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
}

.footer-navigation-divice-link:active {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
  opacity: 0.3;
}

.footer-navigation-divice-link:focus {
  outline: 2px solid #af4fff;
}
/* Социальные сети */
.footer-social {
  display: flex;
  width: 444px;
  height: 40px;
  justify-content: center;
  margin-top: 62px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;
  min-height: 40px;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  list-style: none;
  margin-right: 15px;
}
.footer-social-link {
  display: block;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
}
.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-telegram {
  background-image: url(../images/icons/icon-telegram-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;

}
.footer-social-youtube {
  background-image: url(../images/icons/icon-youtube-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer-social-tw {
  background-image: url(../images/icons/icon-tweeter-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer-social-link:hover {
  background-color: #ffc700;
}

.footer-social-link:active .social-logo {
  fill-opacity: 0.3;
}

.footer-social-link:focus {
  outline: none;
}

.footer-social-link:focus::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}
.contacts-phone-container {
  display: flex;
  flex-direction: column;
}
.footer-phone-contacts {
  width: 175px;
  margin-left: 183px;
  margin-top: 140px;
}
.footer-contacts-phone {
  height: 20px;
  margin: 0;
  padding: 0;
}

.footer-contacts-address-phone {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-decoration-line: underline;
  line-height: 20px;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.footer-contacts-address-phone:hover {
  color: #ffc700;

}

.footer-contacts-address-phone:active {
  opacity: 0.3;
}

.footer-contacts-address-phone:focus {
  outline: 2px solid #af4fff;
}
/* Ссылка html-academy */

.htmlacademy-link {
  width: 115px;
  height: 33px;
  margin: 0 auto;
  margin-top: 65px;
  margin-left: 243px;
}
.htmlacademy-link:hover .html-academy-logo {
  fill: #ffffff;
}

.htmlacademy-link:active .html-academy-logo{
  opacity: 0.3;
}

.htmlacademy-link:focus {
  outline: 2px solid #af4fff;
}

/* -----------------------К-А-Т-А-Л-О-Г------------------------- */
/* Поиск каталога */
.main-inner {
  padding: 0;
}
.inner-page-header {
  padding-bottom: 10px;
}
.inner-header {
  width: 1160px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 34px;
}

.menu-link-number {
  display: inline-block;
  margin-right: 19px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 21px;
}

.catalog-menu-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 498px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  flex-basis: 100%;
  list-style: none;
}
.catalog-menu-item {
  list-style: none;
  position: relative;
  list-style-type: none;
  margin-left: 21px;
  color: #000000;
  cursor: pointer;

}
.catalog-menu-item:first-child {
  margin-left: 27px;
  /* margin-right: auto; */
}
.catalog-menu-item:last-child {
  margin-left: 18px;
  margin-right: 0;
}

.catalog-menu-item a {
font-family: "Rubik", sans-serif;
text-decoration: none;
font-weight: 400;
line-height: 30px;
color: #000000;;
  cursor: pointer;
}
.inner-logo-user {
  padding-right: 13px;
}
.compare-logo {
  padding-right: 12px;
}
.basket-logo {
padding-right: 12px;
}
.basket-logo-catalog {
  position: absolute;
  top: 2px;
  left: 15px;
  z-index: -1;
}

.menu-link-wrapper {
  position: relative;
  margin: 0;
  z-index: 1;

}
.menu-item-comparison {
  padding-right: 10px;

}
.navigation-catalog-search {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  background-color: #ffe17f;
  border-color: #000000;
}

/* Хлебные крошки */
.breadcrumbs-container {
  display: flex;
  width: 1160px;
  padding: 0;
  margin-left: 60px;
  flex-direction: column;
}
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  margin: 0;
  padding: 0;
  margin-top: 16px;
}
.breadcrumbs-item {
  position: relative;
  padding-right: 36px;
  list-style-type: none;
}

.breadcrumbs-link {
  display: block;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  color: #000000;
}
.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 2px solid #af4fff;
}
.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 16px;
  width: 4px;
  height: 8px;
  background-image: url(../images/icons/icon-nav-arrow.svg);
  background-repeat: no-repeat;
}
.breadcrumbs-item:last-child::after {
  content: none;
}
.breadcrumbs-item:last-child {
  margin-right: 0;
  cursor: default;
}




.menu-link-escape {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  opacity: 0.3;
}
.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}


/* Фильтр */
.catalogs-container {
  /* margin: 0 auto; */
  background-color: #f0f0f0;
}
.catalog-all {
  margin: 0 auto;
}
.catalog-products {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  margin-top: 34px;
}

.catalog-filter-container {
  width: 320px;
  padding: 0 60px;
  box-sizing: border-box;
}
/* Фильтр */
.catalog-products-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 60px;
}

.catalog-filter-price {
  margin: 0;
  padding: 0;
  min-width: 200px;
  min-height: 95px;
  margin-bottom: 35px;
  border: none;

}
.catalog-price-title {
   width: 100%;
  margin-bottom: 37px;
  padding: 0;
  padding-top: 12px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  border-top: 2px solid #000000;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 15px;
  background-color: #dcdcdc;
}
.range-bar {
  position: absolute;
  height: 2px;
  left: 0;
  right: 81px;
  background-color: #000000;
}
.range-toggle {
  position: absolute;
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ebebeb;
  border: 2px solid #000000;
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:disabled {
  border-color: rgba(0, 0, 0, 0.5);
}

.range-toggle:active {
  background-color: #000000;
}

.range-toggle:focus {
  outline: none;
}

.range-toggle:focus::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.toggle-min {
  top: -9px;
  left: -9px;
}

.toggle-max {
  top: -9px;
  right: -9px;
}

.range-wrapper-inputs {
  display: flex;
  align-items: flex-end;
  line-height: 0;
  margin-left: -15px;
}

.filter-label {
  font: inherit;
  font-size: 15px;
  font-family: 'Rubik';
  font-style: normal;
  color: rgba(0, 0, 0, 0.3);
}

.filter-label:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  opacity: 1;
}

.filter-label:not(:last-child) {
  margin-right: 20px;
}

.range-input {
  font: inherit;
  padding: 0;
  width: 60px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  opacity: 1;
  border: none;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.range-input:focus {
  outline: none;
}
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}













.catalog-filter-list {
padding: 0;
margin: 0;

}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 33px;

}
.catalog-filter-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  padding: 0;
  padding-top: 12px;
  letter-spacing: -0.02em;
  border-top: 2px solid #000000;
  margin-bottom: 20px;
}
/* checkbox */
/* .catalog-filter-group {


} */
.checkbox-group {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;

}
.catalog-filter-list li:not(:last-child) {
  margin-bottom: 17.5px;

}
.radio-group {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
}
.checkbox-mark,
.radio-mark {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}
.checkbox-group:hover,
.radio-group:hover {
  opacity: 0.6;
}

.checkbox-group:active,
.radio-group:active {
  opacity: 0.3;
}
.button-filter {
  width: 210px;
  cursor: pointer;
  background-position: center;
}

/* Сортировка checkbox */


.control-input[type="checkbox"]:checked + .checkbox-mark {
  position: absolute;
  background-image: url("../images/icons/icon-black-check-mark.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-color: #000000;
}
.control {
  font-size: 16px;
  line-height: 19px;
  padding-left: 36px;
}
.control-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radio-input[type="radio"]:checked + .radio-mark {
  border-color: #000000;
}

.radio-input[type="radio"]:checked + .radio-mark::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}
.radio-input:focus + .radio-mark::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  outline: 2px solid #af4fff;
}
.checkbox-input:focus + .checkbox-mark::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  outline: 2px solid #af4fff;
}

.radio-group {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 19px;
}

.radio-group:not(:last-child) {
  margin-bottom: 20px;
}

.radio-mark {
  border-radius: 50%;
}

.radio-input[type="radio"]:checked + .radio-mark {
  border-color: #000000;
}

.radio-input[type="radio"]:checked + .radio-mark::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.radio-input:focus + .radio-mark::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  outline: 2px solid #af4fff;
}
/* Сортировка */
.control {
  font-size: 16px;
  line-height: 19px;
  padding-left: 36px;
}
.select-control {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background: #f0f0f0;
  border: none;
  cursor: pointer;
}

/* Фон сортировки */
.product-card {
  list-style: none;
}
.sorting {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  min-height: 70px;
  min-width: 840px;
  align-items: center;
}
.cards-container {
  background-color: #ffffff;
  padding: 70px 40px 78px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);

  background: #ffffff;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.catalog-sorting-container {
  width: 840px;
}
.sorting p {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  margin-left: 40px;
}
.sorting-button-container {
  margin-right: 40px;
}
.sorting-button-up {
  cursor: pointer;
  border: none;
  opacity: 0.2;

}
.sorting-button-down {
  cursor: pointer;
  border: none;
  transform: rotate(180deg);
  opacity: 0.2;
}

/* Карточки */
.product-card {
  position: relative;
  margin: 0;
  padding: 0%;
  min-width: 360px;
  min-height: 452px;
}
/* Описание карточек */
.product-card-link {
  display: block;
  font-family: "Rubik", sans-serif;
  height: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
  min-width: 360px;
  min-height: 452px;
}
.product-card:focus {
  outline: 2px solid #af4fff;
}
.product-card:hover .card-item-more {
  opacity: 1;
}
.product-card-image {
  padding-bottom: 32px;
}
.card-link-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}
.card-link-wrapper p {
  margin: 0;
  width: 226px;
}
.cards-new {
  position: absolute;
  display: none;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
}

.card-item-more {
  position: absolute;
  box-sizing: border-box;
  max-width: 220px;
  top: 170px;
  left: 80px;

  padding: 10px 35px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, #ffe16f 40%, #ffe16f 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  border: none;
  opacity: 0;
  background-position: center;
  background-size: 100% 100%;
  transition: background-size 0.2s ease;

  z-index: 1;
  cursor: pointer;
}

.card-item-more:hover {
  background-size: 100% 500%;
}

.card-item-more:active {
  background: #ffc700;
}

.card-item-more:focus {
  opacity: 1;
  outline: 2px solid #af4fff;
}

.product-card-link {
  display: block;
  position: relative;
  text-decoration: none;
  color: #000000;
}

.product-card-link:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.product-card-link:active::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.product-card-link:focus {
  outline: 2px solid #af4fff;
}


/* Цена карточек */
.product-card-link b {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}








/* кнопка "загрузить ещё" */

.button-show-more {
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #e5e5e5;
  width: 100%;
  height: 55px;
  padding: 0;
  margin-top: 44px;
  margin-bottom: 44px;
  cursor: pointer;
}
/* Страницы каталога */

.pagination-container {
  width: 100%;
  min-height: 71px;
}
.pagination {
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 71px;
}
.pagination-item {
  list-style: none;
}
.pagination-item:first-child {
  margin-right: auto;
  width: 128px;
  height: 71px;
}
.pagination-item:last-child {
  margin-left: auto;
  width: 128px;
  height: 71px;
}
.pagination-link {
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}
.cards-pagination-current {
  color: rgba(68, 68, 68, 0.6);
}

.pagination-link:hover {
  color: rgba(68, 68, 68, 1);
}

.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
}

.pagination-link:focus {
  outline: 2px solid #af4fff;
}

.pagination-link:disabled {
  opacity: 0.1;
}

/* Кнопка назад */
.pagination-disabled {
  display: block;
  background-color: #ebebeb;
  color: #444444;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 128px;
  height: 71px;
}
/* Кнопка вперёд */
.pagination-next {
  display: block;
  background-color: #ebebeb;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}
.pagination-item span {
  display: block;
  padding-left: 25px;
  padding-top: 25px;
}
.hidden {
  display: none;
}





.menu-item:last-of-type:focus-within > .basket-popover {
  display: block;
}

.menu-link:focus + .basket-popover,
.menu-link:active + .basket-popover {
  display: block;
}
.basket-popover-close {
  display: none;
}

.basket:focus + .basket-popover,
.basket:active + .basket-popover {
  display: block;
}

.basket-popover {
  position: absolute;
  top: 40px;
  left: -135px;
  width: 320px;
  min-height: 300px;
  background-color: #000000;
  color: #ffffff;
  z-index: 3;
}

.basket-popover::before {
  content: "";
  width: 14px;
  height: 6px;
  top: -6px;
  left: 153px;
  background-image: url("../images/icons/arrow-basket-popover.svg");
  position: absolute;
}


.basket-list {
  margin: 0;
  padding: 0;
}
.basket-item {
  display: flex;
  padding: 20px;
  list-style-type: none;
}

.basket-item + .basket-item {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.basket-link {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}

.basket-link:hover {
  opacity: 0.6;
}

.basket-link:active {
  opacity: 0.3;
}

.basket-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 3px;
}
.basket-image {
  object-fit: contain;
  margin-right: 23px;
}
.basket-descriptor {
  margin: 0;
  color: white;
}
.basket-close {
  position: relative;
  align-self: flex-start;
  margin-left: auto;
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.basket-close::before,
.basket-close::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  height: 2px;
  width: 13px;
  background-color: #ffffff;
}

.basket-close::before {
  transform: rotate(45deg);
}

.basket-close::after {
  transform: rotate(-45deg);
}

.basket-close:hover {
  opacity: 0.6;
}

.basket-close:active {
  opacity: 0.3;
}

.basket-close:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}
.basket-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: #1a1a1a;
}
.basket-amount,
.basket-money {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}
.basket-open-link {
  display: block;
  box-sizing: border-box;
  padding: 15px;
  margin: 20px;
  font-family: "Raleway", "Arial", sans-serif;
  text-decoration: none;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  transition: background 0.2s ease-out;
}

.basket-open-link:hover {
  background-color: #ffe17f;
}

.basket-open-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.basket-open-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}
