@font-face {
  font-family: "Ralemay";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Ralemay", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Pages */

.header-container {

  max-width: 1040px;
  margin: 0 auto;
  /* padding-top: 40; */
  margin-top: 40px;
}
/* header */
.page-header {
  background-color: #ffe17f;
  background-size: 100% auto;

  height: 300px;
  max-width: 1040px;

}

.navigation {
  color: #000000;

}

/* "шапка сайта"   */
.menu-list {

}
.menu-link {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-weight: 400;
  line-height: 30px;
  color: #000000;



  /* list-style-type: none; */

}
/* Каталог товаров */
.navigation-catalog {
  font-weight: 800;
  text-decoration: none;
  line-height: 21px;
  color: #000000;

}
/* навигация сайта */
.navigation-divice-link {
  font-weight: 800;
  text-decoration: none;
  /* list-style: none; */
  text-transform: uppercase;
  line-height: 21px;
  color: #000000;
}


/* слайдер */
.slider-button .slider-prev {

}

.slider-button .slider-next {


}


/* Каталог */


.catalog-devices-item-link {
  text-decoration: none;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  line-height: 18px;



}







/* Услуги магазина */

.services-description-title {
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 21px;
  color: #000000;

}

.services-description-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;

}

/* редкий товар под заказ */

.index-elivery-button-credit {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;

}












/* О нас контейнер*/
.information-container {
  /* font-weight: 800;
  font-size: 18px;
  line-height: 50px;
  text-decoration: none; */


}
/* о нас */
.about-us-title {
  font-weight: 800;
  line-height: 50px;
  font-size: 50px;

}
/* Описание о нас */
.about-us-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  color: #444444;

}
/* Ссылки ТК */
.about-us-link {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 20px;
  font-size: 18px;
  color: #000000;
  /* text-transform: inherit; */
}
/* Кнопка о нас */
.button .button-all {
  text-decoration: none;
  color: #000000;

}


/* Контакты */
.contacts-title {
  font-weight: 800;
  line-height: 50px;
  font-size: 50px;

}
/* описанние контактов */
.contacts-subtitle {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  color: #444444;
}

.contacts-title-site {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 30px;
  font-size: 24px;
  color: #444444;

}
.contacts-address-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  color: #444444;

}
/* Ссылка-телефон */
.contacts-phone {
  font-family: "Rubik", sans-serif;
  text-decoration: underline;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  color: #444444;

/* Время работы */
}
.contacts-subtitle-text {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 30px;
  font-size: 24px;
  color: #444444;

}

.contacts-subtitle-time {
font-family: "Rubik", sans-serif;
font-weight: 400;
line-height: 30px;
font-size: 18px;
color: #444444;
}

/* кнопка напишите нам */

/* .button .button-all {
text-decoration: none;
  color: #000000;
} */

/* Подпишитесь на рассылку */








/* footer */



.about-us-link {
  text-decoration: none;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  line-height: 18px;

}
